{% extends 'base.html' %}
{% block content %}
<div class="form-card card narrow">
  <h1>Login</h1>
  <form method="post" class="form-grid">
    <input name="email" type="email" placeholder="Email" required>
    <input name="password" type="password" placeholder="Password" required>
    <button class="btn" type="submit">Login</button>
  </form>
  <div class="divider"></div>
    <a class="btn btn-light" href="{{ url_for('google_login') }}">
      <img src="https://developers.google.com/identity/images/g-logo.png"
          style="height:16px; vertical-align:middle; margin-right:6px;">
      Continue with Google
    </a>
</div>
{% endblock %}
